<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        style
            include ./email.css
    body
        h2 Confirma tu cuenta UpTask
        p Ya estás casi inscripto, sólo presiona el siguiente botón:
        a(href=`${confirmarUrl}`) Confirmar Cuenta
        p Si no puedes acceder a este enlace, visita #{confirmarUrl}
    